<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUIServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.ui.RegisterUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.ValidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPassWordServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.ResetPassWordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterPassWordServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.AlterPassWordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetQQServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.SetQQServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateUserNameServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.updateUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrueLoveServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.TrueLoveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PubTimeServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.PubTimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewCarServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.NewCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MInformationServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.MInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.QueryUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.QueryUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelInformationServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.CancelInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartDateServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.StartDateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUpInformationServlet</servlet-name>
    <servlet-class>com.yiyexiaoyuan.web.controller.SignUpInformationServlet</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUIServlet</servlet-name>
    <url-pattern>/servlet/RegisterUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/servlet/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPassWordServlet</servlet-name>
    <url-pattern>/servlet/ResetPassWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterPassWordServlet</servlet-name>
    <url-pattern>/servlet/AlterPassWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetQQServlet</servlet-name>
    <url-pattern>/servlet/SetQQServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateUserNameServlet</servlet-name>
    <url-pattern>/servlet/updateUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrueLoveServlet</servlet-name>
    <url-pattern>/servlet/TrueLoveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PubTimeServlet</servlet-name>
    <url-pattern>/servlet/PubTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewCarServlet</servlet-name>
    <url-pattern>/servlet/NewCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MInformationServlet</servlet-name>
    <url-pattern>/servlet/MInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserServlet</servlet-name>
    <url-pattern>/servlet/QueryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <url-pattern>/servlet/QueryUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelInformationServlet</servlet-name>
    <url-pattern>/servlet/CancelInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartDateServlet</servlet-name>
    <url-pattern>/servlet/StartDateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpInformationServlet</servlet-name>
    <url-pattern>/servlet/SignUpInformationServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>
